@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner&amp;family=Unica+One&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-color: #151515;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100vw;
	height: 100vh;
	padding-top: 10px;
}

.Header1 {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-around;
	gap: 120px;
	margin-left: 0;

	padding: 0;
}

#logoProjing {
	width: 291px;
	height: 93px;
	left: 10px;
	margin-right: 45px;
}

.NavHeader {
	display: flex;
	gap: 60px;
	padding-bottom: 25px;
}
.NavHeader-item {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.21em;
	text-transform: uppercase;
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: #ffffff;
}

/*main*/

.sphericals {
	position: absolute;
	display: flex;
	flex-direction: row;
	z-index: -1;
	width: 450px;
	height: 450px;
	left: 180px;
	top: 30px;
}

#elipse1 {
	position: relative;
	width: 450px;
	height: 450px;
	left: 65px;
	transform: translateX(0);
}

#elipse2 {
	position: relative;
	width: 100px;
	height: 100px;
	left: 200px;
	margin-top: 40px;
}

#Main1 {
	position: relative;
	padding-top: 100px;
	width: 100%;
	height: 570px;
	left: 0;
	top: 130px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
	
}

.MainText {
	position: relative;
	width: 500px;
	left: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 45px;
}

#titulo1 {
	width: 500px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 40px;
	letter-spacing: -0.04em;
	color: #ffffff;
	margin: 0;
	white-space: nowrap;
}

.destaque {
	width: 100px;
	color: #ff7024;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	margin: 0;
}

#descrição1 {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	/* or 117% */

	color: #ffffff;
}

.button {
	display: inline-block;
	padding: 0.75rem 1.25rem;
	font-family: "Poppins";
	font-style: normal;
	border-radius: 10rem;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.15rem;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.button:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ea5b0c;
	border-radius: 10rem;
	z-index: -2;
}
.button:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #ffffff;
	transition: all 0.3s;
	border-radius: 10rem;
	z-index: -1;
}
.button:hover {
	color: #000000;
}
.button:hover:before {
	width: 100%;
}

/*SERVICES*/

.servicos {
	position: absolute;
	z-index: 20;
	padding: 0;
	width: 1050px;
	height: 700px;
	right: 0px;
	top: 100px;
	transform: translateY(600px);
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

.rightMenu {
	position: absolute;
	z-index: 10;
	top: 260px;
	right: -200px;
	display: flex;
	flex-direction: row;
	gap: 20px;

	transform: rotate(90deg);
}
.rightMenu-buttons {
	background-color: transparent;
	border: transparent;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;

	text-align: center;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}

#revestimento {
	position: absolute;
	flex-direction: column;
	right: 180px;
	top: 60px;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
	width: 800px;
	height: 430px;
}

.title-services {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 50px;
	line-height: 50px;
	/* or 106% */

	text-align: right;
	letter-spacing: 0.04em;

	color: #ffffff;
}

.descripition-services {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	/* or 117% */

	text-align: right;

	color: #ffffff;
}

.images-services {
	position: absolute;
	display: flex;
	flex-direction: row;
	align-content: space-between;
	gap: 70px;
	top: 285px;
	right: -100px;
	width: 700px;
	height: 150px;
}
.images-services_itens {
	width: 150px;
	height: 150px;
}

#tubulacoes {
	position: absolute;

	flex-direction: column;
	right: 180px;
	top: 60px;
	width: 800px;
	height: 430px;
	transform: translateY(600px);
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}
#reservatórios {
	position: absolute;

	flex-direction: column;
	right: 180px;
	top: 60px;
	width: 800px;
	height: 430px;
	transform: translateY(600px);
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

#sobre-grid {
	position: absolute;
	z-index: 20;
	padding: 0;
	width: 1050px;
	height: 700px;
	right: 0px;
	top: 100px;
	transform: translateY(600px);
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

#Sobre-itens {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 180px;
	top: 60px;
	width: 800px;
	height: 430px;
	transform: translateY(0);
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}
.descripition-sobre {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	/* or 117% */
	margin-top: 25px;
	text-align: right;

	color: #ffffff;
}
.images-sobre {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	gap: 40px;
	top: 75px;
	right: 20px;
	width: 100px;
	height: 700px;
}
.imagens_sobre-item {
	width: 100px;
	height: 100px;
}

/*Grid contato*/
.info_grid_contact {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 120px;
	right: 60px;
	width: 450px;
	height: 480px;
	padding: 25px;
	padding-left: 120px;
	border: 6px solid #ea5b0c;
	border-radius: 180px 33px 33px 33px;
	transform: translateX(600px);
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1.5s;
}

.titulo_contact {
	margin-top: 50px;
	margin-bottom: 10px;
	font-family: "Poppins";
	text-align: right;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 0.16em;
	color: #ffffff;
}

.subtitle_contact {
	font-family: "Poppins";
	font-style: normal;
	text-align: right;
	font-weight: 700;
	font-size: 28px;
	line-height: 42px;
	color: #ffffff;
}

.conteiner_infos_contact {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	width: 350px;
	height: 210px;
}
.dados_contact {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	width: 100%;
	height: 70px;
}

.dados_contact :hover {
	background-color: #ff8c32;
	border: 2px solid #ea5b0c;
	border-radius: 6px;
}

.icon_contact {
	position: flex;
	width: 20px;
	height: 20px;
}

.text_dados_contact {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
}
